name: SonarCloud Scan

on:
  push:
    branches:
      - main

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        with:
          args: >
            -Dsonar.projectKey=Cloud-Security-practise
            -Dsonar.organization=rishicloud08
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

